.sign-in-container{
    display: flex;
    background-color: aqua;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin-top: 215px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 13px;
}

.sign-in-container input{
    border: none;
    border-radius: 2px;
    width: 180px;
    font-size: 13px;
}

.sign-in-container button{
    border: none;
    border-radius: 2px;
    margin-left: 135px;
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
}